{% extends "base.html" %}
{% block content %}
<div class="aqua-gradient-bg white rainbow">
	<p class="max-sm mx-auto px2 py1">
		Full portfolio coming soon!
	</p>
</div>
<div class="max-sm mx-auto p2 dark-gray">
	<h1 class="aqua rainbow">Arun Venkatesan</h1>
	<h5 class="black mb4">
		Freelance Product Designer<br>
		Palo Alto, California 
	</h5>
	<p>
		I'm a product designer with a keen interest in design systems and bridging the gap between engineering and design.
	</p>
	<p>
		Formerly, I was the lead product designer at <a href="http://www.anutanetworks.com">Anuta Networks</a> after joining as their first engineering hire.
	</p>
	<p>
		Before that, I was a student at Columbia University where I received a B.S. in Electrical Engineering and studied Chinese Language and East Asian Culture.
	</p>
	<p>
		I love taking photographs, running, traveling and cooking.
	</p>
	<div class="clearfix">
		<div class="col col-6 sm-col-4">
			<a href="{% static '/documents/Arun_Venkatesan.vcf'%}">
				{% include 'icons/vcard.html' %}
			vCard
			</a>
		</div>
		<div class="col col-6 sm-col-4">
			<a href="{% static '/documents/Arun_Venkatesan_Resume.pdf'%}">
				{% include 'icons/resume.html' %}
				Resume
			</a>
		</div>
		<div class="col col-6 sm-col-4">
			<a href="mailto:dallasarun@gmail.com">
				{% include 'icons/email.html' %}
				Email
			</a>
		</div>
		<div class="col col-6 sm-col-4">
			<a href="tel:+1-732-784-8233">
				{% include 'icons/phone.html' %}
				Phone
			</a>
		</div>
		<div class="col col-6 sm-col-4">
			<a class="linkedin-link" href="https://www.linkedin.com/in/arunve">
				{% include 'icons/linkedin.html' %}
				LinkedIn
			</a>
		</div>
		<div class="col col-6 sm-col-4">
			<a class="twitter-link" href="https://twitter.com/zhenpixels">
				{% include 'icons/twitter.html' %}
				Twitter
			</a>
		</div>
	</div>
	<hr class="my4">
	<h2 class="aqua rainbow">
		Design
	</h2>
	<div class="clearfix">
		<div class="col col-6 sm-col-4">
			<a class="dribbble-link" href="http://www.dribbble.com/arunv">
				{% include 'icons/dribbble.html' %}
				Dribbble
			</a>
		</div>
		<div class="col col-6 sm-col-4">
			<a class="tumblr-link" href="http://zhenpixels.tumblr.com">
				{% include 'icons/tumblr.html' %}
				Tumblr
			</a>
		</div>
	</div>
	<hr class="my4">
	<h2 class="aqua rainbow">Photography</h2>
	<div class="clearfix">
		<div class="col col-6 sm-col-4">
			<a class="flickr-link" href="http://www.flickr.com/photos/ddrmaxgt37/">
				{% include 'icons/flickr.html' %}
				Flickr
			</a>
		</div>
		<div class="col col-6 sm-col-4">
			<a class="instagram-link" href="https://www.instagram.com/zhenpixels/">
				{% include 'icons/instagram.html' %}
				Instagram
			</a>
		</div>
	</div>
	<hr class="my4">
	<h2 class="aqua rainbow">Writing</h2>
	<div class="clearfix">
		<div class="col col-6 sm-col-4">
			<a class="arunhasablog-link" href="http://www.arunhasablog.com/">
				{% include 'icons/blog.html' %}
				Blog
			</a>
		</div>
		<div class="col col-6 sm-col-4">
			<a class="medium-link" href="https://medium.com/@arun_is">
				{% include 'icons/medium.html' %}
				Medium
			</a>
		</div>
	</div>
	<hr class="my4">
	<h2 class="aqua rainbow">
		Elsewhere on the web
	</h2>
	<div class="clearfix">
		<div class="col col-6 sm-col-4">
			<a class="facebook-link" href="http://fb.me/arunv">
				{% include 'icons/facebook.html' %}
				Facebook
			</a>
		</div>
	</div>
	<hr class="my4">
	<p>
		Created using <a href="http://www.basscss.com/">basscss</a>, <a href="http://jxnblk.com/geomicons-wired/">geomicons-wired</a>
	</p>
	<img src="{% static '/images/worldmap.png' %}" alt="Where I have been." class="2x">
</div>
{% endblock content%}
