<style type="text/css">
	.max-sm {
	    max-width: 40em;
	}
	.svg-icon {
	    fill: currentColor;
	}
	a {
	    color:#999;
	}
	a:hover {
	    text-decoration: none;
	    color: #000;
	}
	.dribbble-link:hover {
	    color: #E72976;
	}
	.tumblr-link:hover {
	    color: #35465c;
	}
	.flickr-link:hover {
	    color: #0063dc;
	}
	.instagram-link:hover {
	    color: #e4405f;
	}
	.medium-link:hover {
	    color: #00ab6c;
	}
	.linkedin-link:hover {
	    color: #006087;
	}
	.twitter-link:hover {
	    color: #55acee;
	}
	.facebook-link:hover {
	    color: #3b5998;
	}
	.arunhasablog-link:hover {
	    color: #ffb400;
	}
	.dark-gray {
	    color: #999;
	}
	.rainbow {
		-webkit-animation: hue-rotate 60s infinite linear;
	}

	@-webkit-keyframes hue-rotate {
		from {
			-webkit-filter: hue-rotate(0deg);
		}

		to {
			-webkit-filter: hue-rotate(-360deg);
		}
	}

	.aqua-gradient-bg {
		background: rgba(127,251,255,1);
	background: -moz-linear-gradient(-45deg, rgba(127,251,255,1) 0%, rgba(127,191,255,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(127,251,255,1)), color-stop(100%, rgba(127,191,255,1)));
	background: -webkit-linear-gradient(-45deg, rgba(127,251,255,1) 0%, rgba(127,191,255,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(127,251,255,1) 0%, rgba(127,191,255,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(127,251,255,1) 0%, rgba(127,191,255,1) 100%);
	background: linear-gradient(135deg, rgba(127,251,255,1) 0%, rgba(127,191,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ffbff', endColorstr='#7fbfff', GradientType=1 );
	}
</style>