<style type="text/css">
	.max-sm {
	    max-width: 40em;
	}
	.svg-icon {
	    fill: currentColor;
	}
	a {
	    color:#999;
	}
	a:hover {
	    text-decoration: none;
	    color: #000;
	}
	.dribbble-link:hover {
	    color: #E72976;
	}
	.tumblr-link:hover {
	    color: #35465c;
	}
	.flickr-link:hover {
	    color: #0063dc;
	}
	.instagram-link:hover {
	    color: #e4405f;
	}
	.medium-link:hover {
	    color: #00ab6c;
	}
	.linkedin-link:hover {
	    color: #006087;
	}
	.twitter-link:hover {
	    color: #55acee;
	}
	.facebook-link:hover {
	    color: #3b5998;
	}
	.arunhasablog-link:hover {
	    color: #ffb400;
	}
	.dark-gray {
	    color: #999;
	}
</style>